body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}
.back{
    background-image: url("rest1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height:100vh;
    width:100%;
}
.navbar{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:50px;
}
.navbar nav{
    padding-right:50px;
}
.navbar nav a{
    text-decoration: none;
    color:white;
    font-size:20px;
    padding-left:20px;
    transform:padding(2px);
    color:violet;
}
.navbar nav a:hover{
    border:1px solid white;
    padding:5px;
}
.title{
    color:rgb(234, 234, 245);
    text-align: center;
    padding-top:40px;
}
.title h1{
    font-size: 50px;
}
.title h2{
    font-size:40px;
}
.title button{
    width:30%;
    height:40px;
    border:none;
    padding:5px;
    font-weight: bold;
    background-color:orange;
}
.title button:hover{
    background-color:orangered;
}
.menu-title{
    margin-top:15px;
    font-size:32px;
    color:#ff7a18;
}
.sub-title{
    margin-bottom:20px;
    color:#333;
}
 .break{
    display:flex;
    justify-content:center;
    gap:20px;
}
.item{
    padding:10px;
    width:150px;
    box-shadow:0 4px 8px gray;
}
.item img{
    width:100%;
    height:120px;
    border-radius:10px;
    transition: transform(0.3s);
}
.item img:hover{
    transform:scale(1.1);
}
.item p{
    margin-top:8px;
    font-weight: bold;
}
.foodprices{
    display:flex;
    justify-content:center;
    gap:50px;
}
.contactus{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top:50px;
}
.video-box{
    width:40%;
}
video{
    width:100%;
    border-radius: 10px;
    height:450px;
}
.contacting{
    margin:auto;
    width:40%;
    padding:20px;
    border:2px solid #333;
    border-radius: 10px;
}
.contacting input,textarea{
    width:90%;
    padding:10px;
    margin-bottom:5px;
    border-radius:5px;
}
.contacting button{
    width:100%;
    padding:10px;
    font-size:15px;
    border-radius:5px;
    background-color:orange;
}
.contacting button:hover{
    background-color:orangered ;
}
.booking{
    display:flex;
    justify-content: center;
    gap:30px;
    padding:40px;
    background-color: #f2f2f2;
    border-radius:10px;
}
.booktable{
    width:300px;
    padding:20px;
}

.booktable input,select{
    width:100%;
    padding:8px;
    margin-top:10px;
}
.booktable button{
    width:100%;
    margin-top:15px;
    padding:10px;
    background-color: #ff914d;
}
.booktable button:hover{
    background-color: #ff7a18;
}
.googlemap img{
    width:350px;
    height:300px;
    border-radius:10px;
    padding-top:10px;
}
